* {
  margin: 5px;
  padding: 5px;
}

html, body {
    height: 1400px;
    width: 1400px;
    font-family: sans-serif;
    font-weight: 100;
}

.layout-view {
  height: 1200px;
  width: 1200px;
  margin: 100px;
}

.node {
    cursor: move;
    fill: white;
    stroke: black;
    stroke-width: 1px;
}

.link {
    stroke-width: 1px;
    stroke: black;
}
