<!DOCTYPE html>

<html lang="de">
  <head>
    <meta charset="UTF-8">
    <title>Liniennetzplangenerierung</title>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
  </head>

  <body>
    <main class="container">
      <form method="post">
        <label for="grids">Zellen:</label><br>
        <input type="number" id="grids" name="grids" placeholder="35"><br>
        <label for="geo">Geo-Faktor:</label><br>
        <input type="number" id="geo" name="geo" placeholder="1"><br>
        <label for="bend">Knick-Faktor:</label><br>
        <input type="number" id="bend" name="bend" placeholder="1"><br>
        <label for="radius">Suchradius:</label><br>
        <input type="range" id="radius" name="radius" min="0" max="7" step="1.0" value="0"><br>
        <input type="submit" name="calculate" value="Berechne Layout" formaction="{{ url_for('handle_data') }}"><br>
        <input type="submit" name="show" value="Zeige Layout" formaction="{{ url_for('display_layout') }}">
      </form>
      <a href="{{ url_for('instructions') }}">
        <button>?</button>
      </a>
    </main>
  </body>
</html>